#winlosebox, #invoicerunning {
    background: #F5F5F5;
}

#winlosebox p, #invoicerunning p {
    margin-bottom:2px;
}
.table tbody input{
    background: lightblue;
    text-align: center;
}

.flex-menu .form-control{
    width: 100%;
}
@media screen and (max-width:1200px){
    #menu-dashboard .col-sm-2 {
        width: 100%;
    }
    .flex-menu {
        display: flex;
        justify-content: space-around;
    }
    #selectline {
        font-size:12px;
        width:70px !important;
    }
    #sidebar-game .form-control{
        width:150px;
    }
}

@media (max-width: 1000px){

}

@media (max-width: 887px){
    #statementkredit .col-lg-5{
        width:40%;
    }
    #statementkredit .col-lg-1{
        width:5%;
    }
    #statementkredit .col-lg-6{
        width: 55%;
    }
    #sidebar-game .form-control{
        width:120px;
    }
}

@media (max-width: 560px) {
    .col-amount {
        width: 50%;
    }
    .cols-macau {
        width: 100%;
    }
    #winlosebox {
        font-size:12px;
    }
    #invoicerunning{
        font-size:12px;
    }
    .table tr td .form-select {
        font-size:13px;
    }
}



@media (max-width: 518px){
    #statementkredit h5 {
        font-size:13px;
    }
    #statementkredit .col-lg-5{
        width:60%;
    }
    #statementkredit .col-lg-1{
        width:5%;
    }

    #statementkredit .col-lg-6{
        width: 30%;
    }

    table {
        font-size:12px;
    }
    #winlosebox {
        font-size:12px;
    }

    #invoicerunning {
        font-size:12px;
    }

    .col .font-size-small {
        width:100px !important;
        font-size: 10px;

    }

    .table {
        width: 100% !important;
        font-size: 12px;
    }

    .table input , .table button{
        font-size:12px;
    }

    #selectline {
        width: 80px;
        font-size:12px;

    }

    #sidebar-game .form-control{
        width:100px;
        font-size:12px;
    }

    .form-select {
        font-size:12px;
    }
}

@media (max-width: 477px){
    .form-select {
        font-size:12px;
    }
}

@media (max-width: 381px){
    .flex-menu{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
    }
    .form-select {
        font-size:12px;
    }
}
